 <div *ngIf="profile">
     <div class="panel">
         {{profile.name}}<small>({{profile.login}}</small>
         ,Works at{{profile.company}}
     </div>
     <div class="panelbody">
         <div class="row">
            <div class="col-md-3">
                <img src ="{{profile.avatar_url}}" class="img-square" alt="">
            </div>
            <div class="col-sm-5 ">
            <ul>
                <li class="list-group-item">*ngIf="profile.bio">{{profile.bio}}</li>
                <!-- <li class="list-group-item">*ngIf="profile.bio">{{profile.bio}}</li>
                <li class="list-group-item">*ngIf="profile.bio">{{profile.bio}}</li>
                <li class="list-group-item">*ngIf="profile.bio">{{profile.bio}}</li> -->
            </ul>

            </div>
            <div class=" col-sm-4">
                <p>
                <span class="label label-default"> {{profile.followers}}Followers</span>
                <span class="label label-primary"> {{profile.following}}Following</span>
                <span class="label label-danger"> {{profile.public_gist}}Public gists</span>
                <span class="label label-secondary"> {{profile.public_repos}Public Repositories}</span>
                </p>
                <p><a href="{{profile.html_url }}"class="btn btn-success btn-sm">View profile on github</a></p>
            </div>

         </div>
           
     </div>


 </div>