<div class="all">
    <div class="navbar text-center">
        <div class="row">

            <img src="./assets/githun logo.png" alt="">
            <h2>
                GITHUB PROFILE FINDER
            </h2>

        </div>

    </div>
<div class="container">
    <!-- <div class="all"> -->
        <div class="row">
            <div class="col-md-12">
                <div class="search-class">
                    <h1 id='users' class="btn btn-outline-primary" (click)="searchUsers = true">SEARCH USER</h1>
                </div>
                <p class="moringa"></p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" [(ngModel)]="username" name="username"
                            placeholder="Enter Username" (keyup)="getProfile()">
                    </div>
                </form>


                <div *ngIf="searchUsers" class="d-flex justify-content-sm-between clearfix main-card">
                    <div class="row avi-panel to-left">
                        <figure>
                            <img src="{{user.avatar_url}}" alt="avatar" width="300rem">
                            <br>
                            <br>
                            <figcaption class="text-center">
                                <a href="{{user.html_url}}">{{ user.login }}</a>
                                <hr>
                                <a href="{{user.html_url}}" target="_blank"><button class="btn btn-outline-primary"
                                        width="5rem">Go to Profile </button></a>

                            </figcaption>
                        </figure>
                    </div>
                    <div class="details to-right">
                        <!-- <h3>{{ user.name }}</h3> -->
                        <p class="btn btn-primary">Followers<br><span>{{user.followers}}</span></p>
                        <br> <p class="btn btn-primary">Following<br><span>{{user.following}}</span></p>
                        <br><p class="btn btn-primary">Repositories<br><span>{{user.public_repos}}</span></p><br>

                        <p id='repos' class="btn btn-outline-success" (click)="searchUsers = false">View Repositories</p>

                    </div>

                </div>

                <div *ngIf="!searchUsers">
                    <div class="container repo-row">
                            <h3 class="btn btn-outline-danger">View user's repositories</h3>
                        <div *ngFor="let rep of repo" class="card-body text-center" style="width: 500px">
                            <a class="card-title text-center" href="{{rep.html_url}}" target="_blank">
                                <hr>
                                <h3 class="card-text">{{rep.name}}</h3>
                                <p class="card-text">{{rep.description}}</p>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>